.banner {
   margin: 8em 1em;
   text-align: center;
}

.banner__subtitulo {
    font-weight: 600;
    color: var(--vinho);
}

.banner__titulo {
    font-size: 48px;
    font-weight: 600;
    padding: 0.5em;
    color: var(--azul-escuro);
}

.banner__texto {
    font-size: 20px;
    font-weight: 400;
    margin: 0 28%;
    color: var(--cinza-claro);
}

@media screen and (max-width: 420px) {
    .banner {
        margin: 4em 0.5em;
    }

    .banner__texto {
        margin: 0 14%;
    }
}