.cabecalho {
    background-color: var(--cor-de-fundo);
    display: flex;
    align-items: center;
    padding: 1em 4em;
}

.cabecalho__imagem {
    padding-right: 0.5em;
}


.opcoes {
    display: flex;
    margin: 0 auto 0 23em;
}

.lista__opcoes {
    color: var(--cinza-claro);
    padding: 0 1em;
}

.login {
    display: flex;
    align-items: center;
    color: var(--cinza-claro);
}

.login__texto { 
    padding: 0 1em;
}

.login__texto {
    border: solid var(--vinho);
    background: var(--vinho);
    color: var(--branco);
    padding: 0.5em;
    margin-left: 1em;
    border-radius: 5px;
}
