.cabecalho {
    background-color: var(--cor-de-fundo);
    display: flex;
    align-items: center;
    padding: 1em 4em;
}

.cabecalho__imagem {
    padding-right: 0.5em;
}


.opcoes {
    display: flex;
    margin: 0 auto 0 23em;
}

.lista__opcoes {
    color: var(--cinza-claro);
    padding: 0 1em;
}

.login {
    display: flex;
    align-items: center;
    color: var(--cinza-claro);
}

.login__texto { 
    padding: 0 1em;
}

.login__texto {
    border: solid var(--vinho);
    background: var(--vinho);
    color: var(--branco);
    padding: 0.5em;
    margin-left: 1em;
    border-radius: 5px;
}

.login__mobile,
.cabecalho__imagem__mobile,
.opcoes__mobile {
    display: none;
}

@media screen and (max-width: 420px) {

    .login__mobile,
    .cabecalho__imagem__mobile,
    .opcoes__mobile{
        display: block;
    }

    .cabecalho__imagem,
    .opcoes,
    .login,
    .lista__opcoes__link {
        display: none;
    }

    .cabecalho {
        display: block;
        text-align: center;
        padding: 1em;
    }

    .login__mobile{
        display: flex;
        justify-content: space-between;
    }

    .cabecalho__imagem__mobile {
        margin: auto;
        padding: 0.5em;
    }
}