@import url(header.css);
@import url(banner.css);
@import url(metricas.css);
@import url(vagas.css);
@import url(depoimento.css);

:root {
    --cor-de-fundo: #FFFFFF;
    --cinza: #3A404E;
    --cinza-claro: #667085;
    --vinho: #8E2424;
    --branco: #FFFFFF;
    --azul-escuro: #101828;
    --borda: #EAECF0;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
}